/* Variables globales */
:root {
    --principal-color: #006577; /* Pantone 3155C */
    --font-family:'Corbel', Arial, sans-serif;
    ;
}

/* Estilos generales */
body {
    background-size: contain;
    background-position: center;
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

body h1{
    font-size: 2.0em;
    color: var(--principal-color);
}
body h3, li{
    font-size: 1.2em;
 }
body h3{
    text-align: center;
}
 strong{
    color: var(--principal-color);
 }


/* Navegación */
nav {
    background-color: var(--principal-color);
    padding: 10px;
    border-color: white;
    border-bottom: 5px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}

.menu-icon {
    background-color: white;
    height: 3px;
    width: 25px;
    margin: 3px 0;
    border-radius: 3px;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.nav-list li {
    margin: 0 10px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 2.0em;
}

.nav-list li a:hover {
    text-decoration: underline;
}

/* Sección Hero */
.hero {
    background-image: url('fondo.png');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 10px;
    position: relative;
}

.hero img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

/* Sección Mapa */
.mapa-contenedor {
    text-align: center;
    display: flex;
    flex-direction: column; /* Comienza en columna para pantallas pequeñas */
    align-items: flex-start;
}

.mapa {
    flex: 2;
    /* Estilos para el mapa */
    width: 100%;
    /* Ajusta el tamaño del mapa según sea necesario */
}

.contenido {
    flex: 1;
    /* Estilos para el contenido */
    background-color: #ffffffcb;
    text-align: start;
    padding: 5px;
    /* Ajusta el tamaño del contenido según sea necesario */
}

#nosotros {
    background: linear-gradient(to bottom, #3da1c1, white);
    text-align: center;
}


/* Media query para pantallas grandes (por ejemplo, tablets y PCs) */
@media (min-width: 768px) {
    .mapa-contenedor {
        flex-direction: row; /* Cambia a fila para pantallas grandes */
        align-items: center;
    }

    .mapa, .contenido {
        width: 50%; /* Divide el espacio a la mitad */
    }
}


.whatsapp-button {
    display: inline-block;
    padding: 30px 20px;
    margin-bottom: 35px;
    color: white;
    background-color: var(--principal-color);
    font-size: 2.0em;
    text-decoration: none;
    border-radius: 35px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.whatsapp-button:hover {
    background-color: var(--principal-color);
}

/* Estilos de sección */
/* Estilos en styles.css */

.about-img {
    width: 100%;
    height: auto;
}



section h1 {
    text-align: center;
    margin-bottom: 20px;
}

section p {
    line-height: 1.5;
}

section h3 {
    line-height: 1.5;
}

/* Sección de Servicios */
#servicios {
    background: linear-gradient(to bottom, white, gray);
    padding: 20px;
    text-align: center;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.service-item {
    position: relative;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(255, 255, 255, 0.811); /* Overlay color to make text readable */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 200px;
    text-align: center;
}

button {
    background-color: var(--principal-color); /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 2.0em; /* Tamaño de letra */
    border: none; /* Sin borde */
    border-radius: 5px; /* Borde redondeado */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Efecto de transición */
}

button:hover {
    background-color: #45a049; /* Color al pasar el cursor */
}

.service-item h3 {
    margin: 0;
}

.service-item p {
    margin-top: 10px;
}

.service-details{
    padding: 10px;
}

/* Sección Maquinaria */
#maquinaria {
    background: linear-gradient(to bottom, gray, black);
}

.machine-grid {
    display: grid;
    padding: 10px;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.machine-item {
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 4px 8px rgba(255, 254, 254, 0.1);
}

.machine-item .text-container {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.387); /* Fondo gris semitransparente */
    padding: 10px;
    border-radius: 5px;
    text-align: left;
}

.machine-item h3,
.machine-item p {
    margin: 0;
}

.machine-item h3 {
    font-weight: bold;
}

.machine-item p {
    margin-top: 5px;
}



/* Sección Transportes */
#transportes{
    background: linear-gradient(to bottom,black, black);
}
.transporte-item {
    background-color: #ffffff00;
    padding: 20px;
    border-radius: 8px;
    text-align: start;
    color: white;
}

.transporte-item p strong{
    color: var(--principal-color);
}

.transporte-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.service-details, .service-details h1{
    color: white;
}


/* Sección Proyectos (Carrusel) */

#proyectos {
    background-color: #000000;
    text-align: center;
}



.proyecto-ver:hover {
    background-color: #004d59;
}

/* Footer */
footer {
    padding-top: 10;
    background-color: var(--principal-color);
    text-align: center;
    color: white;
}

.footer-container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s;
}

.social-icons img:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .about-img {
        max-width: 100%; /* Ajusta la imagen al 100% del contenedor en móviles */
        height: auto;    /* Mantiene la proporción de la imagen */
    }
}
/* Responsive Design */
@media (max-width: 768px) {
    /* Navegación en móviles */
    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        background-color: var(--principal-color);
        left: 0;
    }
    .canva-container {
        padding-top: 100%; /* Ajusta el tamaño para pantallas pequeñas */
    }


    .nav-list.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }
    

    /* Ajustes en tabla y grilla */
    .table-row {
        flex-direction: column;
    }

    .table-cell {
        width: 100%;
        text-align: center;
    }

    .table-cell p {
        margin-top: 10px;
    }

    .machine-grid {
        grid-template-columns: 1fr;
    }

    .machine-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .machine-image {
        margin-bottom: 15px;
    }

    .carousel-inner img {
        height: 250px;
    }
}


